---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: {{ acm_import_region_cluster_name }}
  namespace: {{ acm_import_region_cluster_name }}
spec:
  clusterName: {{ acm_import_region_cluster_name }}
  clusterNamespace: {{ acm_import_region_cluster_name }}
  clusterLabels:
    cloud: auto-detect
    name: {{ acm_import_region_cluster_name }}
    vendor: auto-detect
    clusterGroup: {{ acm_import_clustergroup_label }}
  iamPolicyController:
    enabled: {{ acm_import_ocm_iam_policy_controller }}
  searchCollector:
    enabled: {{ acm_import_ocm_search_controller }}
  policyController:
    enabled: {{ acm_import_ocm_policy_controller }}
  certPolicyController:
    enabled: {{ acm_import_ocm_cert_policy_controller }}
  applicationManager:
    enabled: {{ acm_import_ocm_application_manager }}
    argocdCluster: {{ acm_import_ocm_argo_cd_cluster }}
...
