apiVersion: v1
baseDomain: aws.validatedpatterns.io
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: m5.xlarge
      zones:
        - eu-west-3a
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: m5.xlarge
      zones:
        - eu-west-3a
  replicas: 3
metadata:
  creationTimestamp: null
  name: east-spoke
networking:
  clusterNetwork:
  - cidr: 10.132.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.1.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: eu-west-3
    userTags:
      bandini: "washere"
publish: External
pullSecret: ''
sshKey: |
  ssh-rsa AAA...
