- name: Configure frr on {{ frr.key }}
  become: true
  delegate_to: "{{ frr.key }}"
  block:
  - name: Create frr config on {{ frr.key }}
    ansible.builtin.template:
      src: ../templates/frr.conf.j2
      dest: /etc/frr/frr.conf
    notify: Restart frr on frr nodes

  - name: Create frr daemons config on {{ frr.key }}
    ansible.builtin.template:
      src: ../templates/daemons.j2
      dest: /etc/frr/daemons
    notify: Restart frr on frr nodes

  - name: Create vtysh config on {{ frr.key }}
    ansible.builtin.template:
      src: ../templates/vtysh.conf.j2
      dest: /etc/frr/vtysh.conf
    notify: Restart frr on frr nodes

  - name: Create vtysh config on {{ frr.key }}
    ansible.builtin.template:
      src: ../templates/vtysh.conf.j2
      dest: /etc/frr/vtysh.conf
    notify: Restart frr on frr nodes

  - name: "Enable and start the frr Service"
    ansible.builtin.service:
      name: frr
      enabled: true
      state: started
    notify: Restart frr on frr nodes

# - name: Gather the ec2 instance details (worker node, same AZ/subnet as ec2 client)
#   amazon.aws.ec2_instance_info:
#     profile: "{{ aws_profile }}"
#     region: "{{ aws_region }}"
#     filters:
#       "tag:Name": "{{ ocp.cluster_name }}*-worker-*"
#       instance-state-name: ["pending","running"]
#       availability-zone: "{{ aws_az }}"
#   register: ec2_node_info
#   vars:
#     aws_az: "{{ aws_region }}a"
#
# - name: Get route table for client ec2
#   amazon.aws.ec2_vpc_route_table_info:
#     profile: "{{ aws_profile }}"
#     region: "{{ aws_region }}"
#     filters:
#       association.subnet-id: "{{ public_subnet_id }}"
#   register: get_route_tables_raw
#
# - name: Set up route table for client ec2 to ocp woker node instance
#   amazon.aws.ec2_vpc_route_table:
#     profile: "{{ aws_profile }}"
#     region: "{{ aws_region }}"
#     vpc_id: "{{ sg_vpc_id }}"
#     route_table_id: "{{ rtb_id  }}"
#     lookup: id
#     purge_routes: false
#     routes:
#       - dest: "{{ metallb_address_pool }}"
#         instance_id: "{{ ec2_id }}"
#   vars:
#     rtb_id: "{{ get_route_tables_raw['route_tables'] | map(attribute='route_table_id') | first }}"
#     ec2_id: "{{ ec2_node_info['instances'] | map(attribute='instance_id') | first }}"
