- name: Launch EC2 Instance {{ instance.key }}-vm
  amazon.aws.ec2_instance:
    name: "{{ instance.key }}-vm"
    instance_type: "{{ instance.value.instance_type }}"
    image_id: "{{ ec2_ami_image_id }}"
    key_name: "{{ ec2_ssh_key_name }}"
    user_data: "{{ lookup('template', '../templates/cloud_init_userdata.j2') | b64encode }}"
    vpc_subnet_id: "{{ subnet_results.subnet.id }}"
    security_group: "{{ ec2_vpc[instance.value.vpc].subnet_id }}"
    source_dest_check: false
    network:
      assign_public_ip: true
    state: started
    wait: true
    tags: "{{ current_tags | combine({ 'Name': instance.key + '-vm' }) }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: ec2_info

- name: Extend ec2_vms instance facts for {{ instance.key }}-vm
  ansible.builtin.set_fact:
    ec2_vms: >-
      {{
        ec2_vms | combine({
          instance.key: instance.value | combine({
            'public_ip': ec2_info_info.instances[0].public_ip_address,
            'private_ip': ec2_info_info.instances[0].private_ip_address,
            'instance_id': ec2_info_info.instances[0].instance_id 
          })
        }, recursive=True)
      }}

- name: Wait for SSH to be available
  ansible.builtin.wait_for:
    host: "{{ ec2_vms[instance.key].client_public_ip }}"
    port: 22
    timeout: "{{ wait_for_ssh_timeout }}"
    state: started
