- name: Find VPC ID by Tag
  amazon.aws.ec2_vpc_net_info:
    filters: 
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: vpc_info

- name: Debug
  ansible.builtin.debug: 
    msg: "{{ vpc_info }}"

- name: Find elastic IP info
  amazon.aws.ec2_eip_info:
    filters:
      "tag:Name": "{{ item.key }}-eip"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: eip_info

- name: Release Elastic IP
  amazon.aws.ec2_eip:
    state: absent
    allocation_id: "{{ eip_info.addresses[0].allocation_id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  when: eip_info.addresses | length > 0

- ansible.builtin.fail:
    msg: "STOP here now"

# ---------------------------------------------------------
# 4. DELETE SECURITY GROUPS
# ---------------------------------------------------------
- name: Delete Security Groups
  amazon.aws.ec2_security_group:
    state: absent
    name: "{{ item.name }}-SG"
    vpc_id: "{{ vpc_info.results[index].vpcs[0].id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  loop: "{{ vpc_stack }}"
  loop_control:
    index_var: index
  when: vpc_info.results[index].vpcs | length > 0

# ---------------------------------------------------------
# 5. DELETE SUBNETS
# ---------------------------------------------------------
- name: Delete Subnets
  amazon.aws.ec2_vpc_subnet:
    state: absent
    vpc_id: "{{ vpc_info.results[index].vpcs[0].id }}"
    cidr: "{{ item.subnet_cidr }}"
    region: "{{ item.region }}"
  loop: "{{ vpc_stack }}"
  loop_control:
    index_var: index
  when: vpc_info.results[index].vpcs | length > 0

# ---------------------------------------------------------
# 6. DELETE ROUTE TABLES & IGW
# ---------------------------------------------------------
- name: Find Route Tables
  amazon.aws.ec2_route_table_info:
    region: "{{ item.region }}"
    filters:
      "tag:Name": "{{ item.name }}-RT"
  loop: "{{ vpc_stack }}"
  register: rt_info

- name: Delete Route Tables
  amazon.aws.ec2_vpc_route_table:
    state: absent
    route_table_id: "{{ rt_info.results[index].route_tables[0].route_table_id }}"
    region: "{{ item.region }}"
    lookup: id
  loop: "{{ vpc_stack }}"
  loop_control:
    index_var: index
  when: rt_info.results[index].route_tables | length > 0

- name: Delete Internet Gateway
  amazon.aws.ec2_vpc_igw:
    state: absent
    vpc_id: "{{ vpc_info.results[index].vpcs[0].id }}"
    region: "{{ item.region }}"
  loop: "{{ vpc_stack }}"
  loop_control:
    index_var: index
  when: vpc_info.results[index].vpcs | length > 0

# ---------------------------------------------------------
# 7. DELETE VPC
# ---------------------------------------------------------
- name: Delete VPC
  amazon.aws.ec2_vpc_net:
    state: absent
    name: "{{ item.name }}-VPC"
    cidr_block: "{{ item.cidr }}"
    region: "{{ item.region }}"
  loop: "{{ vpc_stack }}"
