- name: Find VPC ID by Tag {{ instance.key }}
  amazon.aws.ec2_vpc_net_info:
    filters: 
      "tag:Name": "{{ instance.key }}-vpc"
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: vpc_info

- name: Debug
  ansible.builtin.debug: 
    msg: "{{ vpc_info }}"

- name: Find elastic IP info
  amazon.aws.ec2_eip_info:
    filters:
      "tag:Name": "{{ instance.key }}-eip"
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: eip_info

- name: Release Elastic IP
  amazon.aws.ec2_eip:
    state: absent
    allocation_id: "{{ eip_info.addresses[0].allocation_id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  when: eip_info.addresses | length > 0

- name: Fetch existing Security Groups called {{ instance.key }}-sg
  amazon.aws.ec2_security_group_info:
    filters:
      "group_name": "{{ instance.key }}-sg"
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: sg_info

- name: Delete Security Groups
  amazon.aws.ec2_security_group:
    state: absent
    group_id: "{{ item.group_id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  loop: "{{ sg_info.security_groups }}"
  loop_control:
    label: "{{ item.group_id }}"
  when: sg_info.security_groups | length > 0

- name: Find existing subnets called {{ instance.key }}-net
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      "tag:Name": "{{ instance.key }}-net"
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: subnet_info

- name: Debug 2
  ansible.builtin.debug: 
    msg: "{{ subnet_info }}"

- name: Delete Subnets 
  amazon.aws.ec2_vpc_subnet:
    state: absent
    cidr: "{{ item.cidr_block }}"
    vpc_id: "{{ item.vpc_id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  loop: "{{ subnet_info.subnets }}"
  loop_control:
    label: "{{ item.cidr_block }}"
  when: subnet_info.subnets | length > 0

- name: Find Route Tables called {{ instance.key }}-rtbl
  amazon.aws.ec2_vpc_route_table_info:
    filters:
      "tag:Name": "{{ instance.key }}-rtbl"
      "tag:washere": "{{ aws_arn_userid }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  register: rtbl_info

- name: Debug 3
  ansible.builtin.debug: 
    msg: "{{ rtbl_info }}"

- name: Delete Route Tables
  amazon.aws.ec2_vpc_route_table:
    state: absent
    route_table_id: "{{ item.route_table_id }}"
    lookup: id
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  loop: "{{ rtbl_info.route_tables }}"
  loop_control:
    label: "{{ item.route_table_id }}"
  when: rtbl_info.route_tables | length > 0

- name: Delete Internet Gateway for vpc {{ instance.key }}
  amazon.aws.ec2_vpc_igw:
    state: absent
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
  when: vpc_info.vpcs | length > 0

- name: Delete VPC {{ instance.key }}
  amazon.aws.ec2_vpc_net:
    state: absent
    vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"
    cidr_block: "{{ instance.value.cidr }}"
    region: "{{ aws_region }}"
    profile: "{{ aws_profile }}"
