---
- name: Importing ACM clusters automatically
  hosts: localhost
  connection: local
  pre_tasks:
    - name: Set WESTCONFIG and EASTCONFIG facts from env variables
      ansible.builtin.set_fact:
        WESTCONFIG: "{{ lookup('env', 'WESTCONFIG') }}"
        EASTCONFIG: "{{ lookup('env', 'EASTCONFIG') }}"

    - name: Check for correct WESTCONFIG variable
      ansible.builtin.fail:
        msg: "WESTCONFIG variable needs to be set and pointing to the HUB kubeconfig file"
      when:
        WESTCONFIG is not defined or WESTCONFIG | length == 0

    - name: Check for correct EASTCONFIG env variable
      ansible.builtin.fail:
        msg: "EASTCONFIG variable needs to be set and pointing to the REGION kubeconfig file"
      when:
        EASTCONFIG is not defined or EASTCONFIG | length == 0

    - name: Print the hub and regional kubeconfigs
      ansible.builtin.debug:
        msg: "WESTCONFIG: {{ WESTCONFIG }} - EASTCONFIG: {{ EASTCONFIG }}"

  roles:
    - acm_import
