---
- name: Playbook to set up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Checks for ocp clusters and sets aws_region, aws_az and aws_arn_userid
      ansible.builtin.include_tasks: check_task.yml

    - name: Fetch AMI id and set ec2_ami_image_id
      ansible.builtin.include_tasks: get_ami.yml

    - name: Create key pair to access ec2 with ssh
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ ec2_ssh_key_name }}"
        key_material: "{{ ssh_pubkey }}"

    - name: Set tags to use in every object
      ansible.builtin.set_fact:
        current_tags: "{{ aws_default_tags | combine({ 'washere': aws_arn_userid }) }}"

    - name: Create all the VPCs, subnets, igw and rtbls
      ansible.builtin.include_tasks: create_vpc.yml
      loop: "{{ ec2_vpcs | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - name: Print VPCs
      ansible.builtin.debug:
        msg: "{{ ec2_vpcs }}"

    - name: Create all the EC2 instances
      ansible.builtin.include_tasks: create_ec2.yml
      loop: "{{ ec2_vms | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - name: Configure networking for west and east clusters
      ansible.builtin.include_tasks: network_task.yml
      loop:
        - { 
            name: "west",
            config: "{{ WESTCONFIG }}",
            cluster_name: "{{ west_cluster_name }}",
            tor_vm: "westtor"
          } 
        - { 
            name: "east",
            config: "{{ EASTCONFIG }}",
            cluster_name: "{{ east_cluster_name }}",
            tor_vm: "easttor"
          }
      loop_control:
        loop_var: ocp
        label: "{{ ocp.name }}"

    - name: Configure FRR on core, torwest and torweast
      ansible.builtin.include_tasks: aws_ec2_frr.yml
      loop: "{{ ec2_frrs | dict2items }}"
      loop_control:
        loop_var: frr
        label: "{{ frr.key }}"

    - name: Print EC2 VMs
      ansible.builtin.debug:
        msg: "{{ ec2_vms }}"

    - name: Print TORs enX1 IPs
      ansible.builtin.debug:
        msg:
          west_ip: "{{ west_enx1_ip }}"
          east_ip: "{{ east_enx1_ip }}"

    - name: Generate tmux shell template
      ansible.builtin.template:
        src: ../templates/launch_tmux.sh.j2
        dest: "/tmp/launch_tmux.sh"
        mode: '0755'

  handlers:
    - name: Restart frr on frr nodes
      ansible.builtin.service:
        name: frr
        state: restarted
      delegate_to: "{{ item }}"
      become: true
      loop: "{{ groups['frr_node'] }}"
