---
- name: Playbook to cleanup up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Checks
      ansible.builtin.include_tasks: check_task.yml

    - name: Delete created key pair
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ ec2_ssh_key_name }}"
        state: absent

    - name: Delete all EC2s
      ansible.builtin.include_tasks: delete_ec2.yml
      loop: "{{ ec2_vms | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - name: Delete all VPCs
      ansible.builtin.include_tasks: delete_vpc.yml
      loop: "{{ ec2_vpcs | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"
