---
- name: Playbook to set up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Checks for ocp clusters and sets aws_region, aws_az and aws_arn_userid
      ansible.builtin.include_tasks: check_task.yml

    - name: Fetch AMI id and set ec2_ami_image_id
      ansible.builtin.include_tasks: get_ami.yml

    - name: Create key pair to access ec2 with ssh
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ ec2_ssh_key_name }}"
        key_material: "{{ ssh_pubkey }}"

    - name: Set tags to use in every object
      ansible.builtin.set_fact:
        current_tags: "{{ aws_default_tags | combine({ 'washere': aws_arn_userid }) }}"

    - name: Create all the VPCs, subnets, igw and rtbls
      ansible.builtin.include_tasks: create_vpc.yml
      loop: "{{ ec2_vpcs | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - name: Print VPCs
      ansible.builtin.debug:
        msg: "{{ ec2_vpcs }}"

    - name: Create all the EC2 instances
      ansible.builtin.include_tasks: create_ec2.yml
      loop: "{{ ec2_vms | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - name: Print EC2 VMs
      ansible.builtin.debug:
        msg: "{{ ec2_vms }}"

    - name: Configure networking for west and east clusters
      ansible.builtin.include_tasks: network_task.yml
      loop:
        - { 
            name: "west",
            config: "{{ WESTCONFIG }}",
            cluster_name: "{{ west_cluster_name }}",
            tor_vm: "westtor"
          } 
        - { 
            name: "east",
            config: "{{ EASTCONFIG }}",
            cluster_name: "{{ east_cluster_name }}",
            tor_vm: "easttor"
          }
      loop_control:
        loop_var: ocp
        label: "{{ ocp.name }}"

    - name: Configure FRR on core, torwest and torweast
      ansible.builtin.include_tasks: aws_ec2_frr.yml
      loop: "{{ ec2_frrs | dict2items }}"
      loop_control:
        loop_var: frr
        label: "{{ frr.key }}"

    - name: fail
      ansible.builtin.fail:
        msg: "STOP HERE"

    - name: Print FRR Private IPs
      ansible.builtin.debug:
        msg: "Hub IP: {{ hub_frr_private_ip }} - Spoke IP: {{ spoke_frr_private_ip }}"

    - name: Configure frr on client {{ fqdn_nodot }}
      become: true
      delegate_to: "{{ fqdn_nodot }}"
      block:
        - name: Set hostname on {{ fqdn }}
          ansible.builtin.hostname:
            name: "test-client-{{ hub_cluster_name }}"
            use: systemd

        - name: Ensure packages are installed on client {{ fqdn_nodot }}
          ansible.builtin.dnf:
            name:
              - frr
            state: present
            update_cache: true
        - name: Create frr config on client {{ fqdn_nodot }}
          ansible.builtin.template:
            src: ../templates/frr.conf.j2
            dest: /etc/frr/frr.conf
            mode: '0644'
          vars:
            asn: "{{ metallb_client_side_asn }}"
            bgp_neighbors:
              hub:
                - "{{ hub_frr_private_ip }}"
              spoke:
                - "{{ spoke_frr_private_ip }}"
            bfd_localaddresses:
              hub:
                - "{{ client_hub_private_ip }}"
              spoke:
                - "{{ client_spoke_private_ip }}"
            peer_asns:
              hub: "{{ metallb_aws_hub_tor_asn }}"
              spoke: "{{ metallb_aws_spoke_tor_asn }}"
            is_tor: false

        - name: Create frr daemons config on client {{ fqdn_nodot }}
          ansible.builtin.template:
            src: ../templates/daemons.j2
            dest: /etc/frr/daemons
            mode: '0644'

        - name: Create vtysh config on client {{ fqdn_nodot }}
          ansible.builtin.template:
            src: ../templates/vtysh.conf.j2
            dest: /etc/frr/vtysh.conf
            mode: '0644'

        - name: "Enable and start the frr Service"
          ansible.builtin.service:
            name: frr
            enabled: true
            state: restarted

  handlers:
    - name: Restart frr on frr nodes
      ansible.builtin.service:
        name: frr
        state: restarted
      delegate_to: "{{ item }}"
      become: true
      loop: "{{ groups['frr_node'] }}"
