---
- name: Playbook to cleanup up the BGP routing with a client ec2 in aws
  hosts: localhost
  gather_facts: false
  become: false
  vars_files:
    # Use this to override stuff that won't be committed to git
    - ../overrides.yml

  tasks:
    - name: Checks
      ansible.builtin.include_tasks: check_task.yml

    - name: Delete created key pair
      amazon.aws.ec2_key:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        name: "{{ ec2_ssh_key_name }}"
        state: absent

    - name: Delete all VPCs
      ansible.builtin.include_tasks: delete_vpc.yml
      loop: "{{ ec2_vpcs | dict2items }}"
      loop_control:
        loop_var: instance
        label: "{{ instance.key }}"

    - ansible.builtin.fail:
        msg: "STOP"

    - name: Gather the ec2 instance details
      amazon.aws.ec2_instance_info:
        profile: "{{ aws_profile }}"
        region: "{{ aws_region }}"
        filters:
          "tag:Name": "test-client-{{ hub_cluster_name }}"
          instance-state-name: ["pending", "running", "shutting-down", "stopping", "stopped"]
      register: ec2_node_info

    - name: Delete ec2 instance if it exists
      when: ec2_node_info.instances | length != 0
      block:
        - name: Set ec2 instance id
          ansible.builtin.set_fact:
            instance_id: "{{ ec2_node_info.instances | map(attribute='instance_id') | first }}"

        - name: Delete ec2 instance
          amazon.aws.ec2_instance:
            profile: "{{ aws_profile }}"
            region: "{{ aws_region }}"
            instance_ids:
              - "{{ instance_id }}"
            state: terminated

    - name: Set dns facts (1)
      ansible.builtin.set_fact:
        record_name: "bgp_{{ aws_arn_userid }}"

    - name: Set dns facts (2)
      ansible.builtin.set_fact:
        fqdn: "{{ record_name }}.{{ hosted_zone | regex_replace('\n$','') }}"
        fqdn_nodot: "{{ record_name }}.{{ hosted_zone | regex_replace('\n$','') | regex_replace('\\.$','') }}"

    - name: Delete A record
      amazon.aws.route53:
        profile: "{{ aws_profile }}"
        zone: "{{ hosted_zone }}"
        record: "{{ fqdn }}"
        type: A
        state: absent

    - name: Cleanup BGP routing for hub and spoke clusters
      ansible.builtin.include_tasks: cleanup_task.yml
      loop:
        - { name: "hub", config: "{{ HUBCONFIG }}", cluster_name: "{{ hub_cluster_name }}" }
        - { name: "spoke", config: "{{ SPOKECONFIG }}", cluster_name: "{{ spoke_cluster_name }}" }
      loop_control:
        loop_var: ocp
