frr defaults traditional
log file /var/log/frr/frr.log
log timestamp precision 3
!
debug zebra nht
debug bgp neighbor-events
debug bgp nht
debug bgp updates in
debug bgp updates out
{% if metallb_bfd_enable %}
debug bfd peer
{% endif -%}

ip prefix-list ACCEPT_LAB seq 5 permit {{ metallb_address_pool }} le 32
{% set ns = namespace(count=10) %}
{% for key, value in ec2_vpcs.items() %}
ip prefix-list ACCEPT_LAB seq {{ ns.count }} permit {{ value.subnet_cidr }} le 32
{% set ns.count = ns.count + 5 %}
{% endfor %}

!
router bgp {{ frr.value.asn }}
 timers bgp 3 15
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 no bgp network import-check
 bgp bestpath as-path multipath-relax

{% for connection in frr.value.connections %}
 neighbor {{ connection.group_name }} peer-group
 neighbor {{ connection.group_name }} remote-as {{ connection.asn }}
 neighbor {{ connection.remote_ip }} peer-group {{ connection.group_name }}
 neighbor {{ connection.remote_ip }} bfd
{% endfor %}

 address-family ipv4 unicast
{% for adv_routes in frr.value.fixed_advertisements %}
  network {{ adv_routes }}
{% endfor %}
{% for connection in frr.value.connections %}
  neighbor {{ connection.remote_ip }} next-hop-self
  neighbor {{ connection.remote_ip }} soft-reconfiguration inbound
  neighbor {{ connection.remote_ip }} activate
  neighbor {{ connection.remote_ip }} route-map ACCEPT_LAB in
{% endfor %}
  maximum-paths 4
exit-address-family
!
route-map ACCEPT_LAB permit 10
  match ip address prefix-list ACCEPT_LAB
exit
!
{% if metallb_bfd_enable %}
bfd
{% for connection in frr.value.connections %}
  peer {{ connection.remote_ip }} multihop local-address {{ connection.local_ip }}
{% endfor %}
exit
{% endif %}
!
exit
